JavaSOAP/PPTConsumidor/src/META-INF/wsdl/localhost_8084/PPT/PPT.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fje.edu.daw2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fje.edu.daw2/" name="PPT">
<types>
<xsd:schema>
<xsd:import namespace="http://fje.edu.daw2/" schemaLocation="http://localhost:8084/PPT/PPT?xsd=1" />
</xsd:schema>
</types>
<message name="iniciarPartida">
<part name="parameters" element="tns:iniciarPartida" />
</message>
<message name="iniciarPartidaResponse">
<part name="parameters" element="tns:iniciarPartidaResponse" />
</message>
<message name="moureJugador">
<part name="parameters" element="tns:moureJugador" />
</message>
<message name="moureJugadorResponse">
<part name="parameters" element="tns:moureJugadorResponse" />
</message>
<message name="acabarJoc">
<part name="parameters" element="tns:acabarJoc" />
</message>
<message name="acabarJocResponse">
<part name="parameters" element="tns:acabarJocResponse" />
</message>
<message name="ConsultarPartides">
<part name="parameters" element="tns:ConsultarPartides" />
</message>
<message name="ConsultarPartidesResponse">
<part name="parameters" element="tns:ConsultarPartidesResponse" />
</message>
<message name="ConsultarPunts">
<part name="parameters" element="tns:ConsultarPunts" />
</message>
<message name="ConsultarPuntsResponse">
<part name="parameters" element="tns:ConsultarPuntsResponse" />
</message>
<portType name="PPT">
<operation name="iniciarPartida">
<input wsam:Action="http://fje.edu.daw2/PPT/iniciarPartidaRequest" message="tns:iniciarPartida" />
<output wsam:Action="http://fje.edu.daw2/PPT/iniciarPartidaResponse" message="tns:iniciarPartidaResponse" />
</operation>
<operation name="moureJugador">
<input wsam:Action="http://fje.edu.daw2/PPT/moureJugadorRequest" message="tns:moureJugador" />
<output wsam:Action="http://fje.edu.daw2/PPT/moureJugadorResponse" message="tns:moureJugadorResponse" />
</operation>
<operation name="acabarJoc">
<input wsam:Action="http://fje.edu.daw2/PPT/acabarJocRequest" message="tns:acabarJoc" />
<output wsam:Action="http://fje.edu.daw2/PPT/acabarJocResponse" message="tns:acabarJocResponse" />
</operation>
<operation name="ConsultarPartides">
<input wsam:Action="http://fje.edu.daw2/PPT/ConsultarPartidesRequest" message="tns:ConsultarPartides" />
<output wsam:Action="http://fje.edu.daw2/PPT/ConsultarPartidesResponse" message="tns:ConsultarPartidesResponse" />
</operation>
<operation name="ConsultarPunts">
<input wsam:Action="http://fje.edu.daw2/PPT/ConsultarPuntsRequest" message="tns:ConsultarPunts" />
<output wsam:Action="http://fje.edu.daw2/PPT/ConsultarPuntsResponse" message="tns:ConsultarPuntsResponse" />
</operation>
</portType>
<binding name="PPTPortBinding" type="tns:PPT">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="iniciarPartida">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="moureJugador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="acabarJoc">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarPartides">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ConsultarPunts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PPT">
<port name="PPTPort" binding="tns:PPTPortBinding">
<soap:address location="http://localhost:8084/PPT/PPT" />
</port>
</service>
</definitions>